.post{
  padding: 20px 24px;
  box-shadow: 0 0 5px 1px #00000061;
  margin: 20px 0;
  border-radius: 12px
}

.post-body b {
  font-size: 2rem;
}

.post-avatar {
}

.post-header {
  display: flex;
  justify-content: space-between;

  span {
    font-style: italic;
    font-weight: 600;
    color: rgb(86, 86, 167);
  }
}

.row {
  align-items: center;
}

.unifor{
  background-color: bisque;
  margin-bottom: 10px;
}
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts"
